@import "~antd/dist/antd.css";

.div-logo {
  text-align: center;
  padding: 5px;
}

.div-logo-login {
  padding: 5px;
}

/* .div-logo div, .div-logo-login div {
    position: relative !important;
}

.div-logo img, .div-logo-login img {
    position: relative !important;
    width: auto !important;
    height: auto !important;
    min-width: 0% !important;
    max-width: 100% !important;
    min-height: 0% !important;
    max-height: 100% !important;
} */

.ant-layout-sider-zero-width-trigger {
  top: 10px;
}

.site-layout .site-layout-background {
  background: #fff;
}

.div-login {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.colForm {
  display: flex;
  align-items: center;
  justify-content: center;

  .cardForm {
    width: 100%;
    form {
      text-align: center;
      max-width: 100%;
    }
  }
}

.div-header {
  display: flex;
  justify-content: flex-end;
}

.div-footer-login {
  .img-min {
    max-width: 200px;
  }

  .img-logo {
    max-width: 100px;
  }
}
